*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.c1,
.c2,
.c3,
.c4, 
.c5 {
   width: 100%;
   min-width: 100px;
   height: 150px;
}

.c4{
   height: auto;
}
.c1 {
   background-color: yellow;
}

.c2{
   background-color: blue;
}

.c3{
   background-color: red;
}

.c4{
   background-color: saddlebrown;
}

.c5{
   background-color: seagreen;
}
footer {
   width: 100%;
   display: table;
   position: fixed; /* para mover el footer hacia abajo*/
   bottom: 0;
 }
 .redes {
   margin: 0px auto; /* le pone los iconos centrados*/
   display: table;
 }
 .redes__li {
    float: left;
    padding: 5px;
    list-style: none;
 }
 .redes__li a {
    color: black;
    transition: all 0.5s ease 0s;
 }
 .redes__li a i {
    padding: 10px; /*separacion entre iconos*/
    font-size: 25px;
 }
 .redes__li .instagram:hover {
    color: rgba(218, 49, 181, 0.856);
    transition: all 0.5s ease 0s;
 }
 .redes__li .facebook:hover {
   color: rgb(37, 58, 245);
   transition: all 0.5s ease 0s;
}
.redes__li .twitter:hover {
   color: rgb(7, 158, 218);
   transition: all 0.5s ease 0s;
}
.redes__li .whatsapp:hover {
   color: rgb(106, 243, 78);
   transition: all 0.5s ease 0s;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
}
footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #111;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}


footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: #eb2f06;
}
footer .bottom{
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: #eb2f06;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: #eb2f06;
}
@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
}
