*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.c1,
.c2,
.c3,
.c4, 
.c5 {
   width: 100%;
   min-width: 100px;
   height: 150px;
}

.c4{
   height: auto;
}
.c1 {
   background-color: yellow;
}

.c2{
   background-color: blue;
}

.c3{
   background-color: red;
}

.c4{
   background-color: saddlebrown;
}

.c5{
   background-color: seagreen;
}
/** Header Estilos css **/
.nav__response-ul{
   display: none;
}
header{
   width:100%; 
   display:table;
   background-color: rgb(146, 186, 238);
   margin-bottom:50px;
}
.nav {
   background-color: rgb(87, 128, 161);
   text-align: center;
   width: auto;
   float: right;
}
.nav__ul{
   display: table;
   float: right;
   list-style: none;
}
.nav__li {
   float: left;
}
.nav__li:last-child{
   padding-right: 0px;
}
.nav__li a { /* se quita la decoración de la etiqueta a y se le da color a las letras*/
   color: #ffffff;
   text-decoration: none;
   font-size: 15px;
   padding: 25px 20px;
   display: inline-block;
   transition: all 0.5s ease 0s;
}
.nav__li a:hover{ /*cambio de color de las letras cuando se pasa el puntero*/
   background-color: #ffffff;
   color:rgb(146, 186, 238);
   transition: all 0.5s ease 0s;
}
.nav__li a:hover i { /* cambio de color del icono cuando se pasa el puntero*/
   color:rgb(146, 186, 238);
   transition:  all 0.5s ease 0s;
}
.nav__li a i { /** separación entre el icono y las letras*/
   padding-right: 10px;
   color: #ffffff;
   transition:  all 0.5s ease 0s;
}
.toggle__menu ul {/**dimension de la hamburguesa*/
   display: table;
   width: 25px;
}
.toggle__menu ul li {/** damos dimensiones  y color a las rayas de la hamburguesa */
   width: 100%; 
   height: 3px;
   background-color: rgb(250, 250, 250);
   margin-bottom: 5px;
   list-style: none;
}
.toggle__menu ul li:last-child { /*damos un marguen a la hamburguesa*/
   margin-bottom:0px;
}

input[type=checkbox],label {
   display:none;
}
@media only screen and (max-width:600px){
 header {
    padding: 20px 0px;
 }
 input[type=checkbox]{
    position: absolute;
    top: -9999px; left: -9999px;
    background: none;
 }
 input[type=checkbox]:focus {
    background: none;
 }
 label {
    float: right;
    padding: 8px 5px;
    display: inline-block;
    cursor: pointer;
 }
 input[type=checkbox]:checked ~ .nav {
    display: block;
 }
 .nav{ /*separamos el nav cuando el check este en true aparece el menu*/
    display: none;
    position: absolute;
    right: 0px;
    top: 53px;
    background-color: rgb(146, 186, 238);
    padding: 0px;
    z-index: 99;
 }
 .nav__ul {
    width: auto;
    margin-top: 22px;
 }
 .nav__ul li { /* ponemos el contenido de la etiqueta li en forma de tabla  vertical*/
    float: none;
    padding: 0px;
    width: 100%;
    display: table;
 }
 .nav__li a {
    color: #fff;
    font-size: 15px;
    padding: 15px 45px;
    display: block;
    border-bottom: 1px solid rgba(55, 100, 226, 0.267);
 }

}
