*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.c1,
.c2,
.c3,
.c4, 
.c5 {
   width: 100%;
   min-width: 100px;
   height: 150px;
}

.c4{
   height: auto;
}
.c1 {
   background-color: yellow;
}

.c2{
   background-color: blue;
}

.c3{
   background-color: red;
}

.c4{
   background-color: saddlebrown;
}

.c5{
   background-color: seagreen;
}
footer {
   width: 100%;
   display: table;
   position: fixed; /* para mover el footer hacia abajo*/
   bottom: 0;
 }
 .redes {
   margin: 0px auto; /* le pone los iconos centrados*/
   display: table;
 }
 .redes__li {
    float: left;
    padding: 5px;
    list-style: none;
 }
 .redes__li a {
    color: black;
    transition: all 0.5s ease 0s;
 }
 .redes__li a i {
    padding: 10px; /*separacion entre iconos*/
    font-size: 25px;
 }
 .redes__li a:hover {
    color: cadetblue;
    transition: all 0.5s ease 0s;
 }